---
---

@import "{{ site.theme }}";

.site-nav {
  margin-top: 1rem;
  
  .btn {
    margin: 0 0.5rem;
    @media screen and (max-width: 42em) {
      display: block;
      width: auto;
      margin: 0.5rem auto;
    }
  }
}
