---
---

@import "{{ site.theme }}";

.site-nav {
  margin-top: 1rem;
  
  .btn {
    margin: 0 0.5rem;
    @media screen and (max-width: 42em) {
      display: block;
      width: auto;
      margin: 0.5rem auto;
    }
  }
}

.post {
  .post-date {
    color: #606c71;
    margin-bottom: 2rem;
  }
}

.author-byline {
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}
